* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.slideBox {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
}
.slideBox .hd {
  width: 130px;
  height: 15px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -65px;
  bottom: 5px;
  z-index: 1;
}
.slideBox .hd ul {
  overflow: hidden;
  zoom: 1;
  float: left;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}
.slideBox .hd ul li {
  float: left;
  margin-right: 2px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background: #ccc;
  cursor: pointer;
  border-radius: 50%;
  margin: 0px 5px;
}
.slideBox .hd ul li.on {
  background: #fff;
  color: #fff;
}
.slideBox .bd {
  position: relative;
  height: 100%;
  z-index: 0;
}
.slideBox .bd li {
  zoom: 1;
  vertical-align: middle;
}
.slideBox .bd img {
  width: 100%;
  height: 400px;
  display: block;
}
.slideBox .center {
  width: 1200px;
  height: 400px;
  margin: 0px auto;
  margin-top: -400px;
  position: relative;
}
.slideBox .img-right {
  position: absolute;
  z-index: 10;
  top: 40px;
  right: 0px;
}
.ejdh-left {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0px;
}
.ejdh-left .ejdh-ul {
  background-color: #2984eb;
  color: #fff;
  position: relative;
}
.ejdh-left .ejdh-ul li:hover .items {
  display: block;
}
.ejdh-left li .li {
  padding: 19.5px 0;
  margin: 0px 10px;
  width: 180px;
  border-bottom: 1px dashed #4b94e6;
}
.ejdh-left ul li:hover {
  background-color: #006bbc;
}
.ejdh-left li h4 {
  font-size: 14px ;
  font-weight: 600;
}
.ejdh-left li span {
  font-size: 12px;
  margin: 0px 3px ;
}
.ejdh-left li .items {
  position: absolute;
  top: 12px;
  left: 200px;
  width: 445px;
  height: 378px;
  background-color: #fff;
  color: #000;
  display: none;
}
.items .items-left {
  padding: 20px 20px 0;
  width: 190px;
  float: left;
}
.items .items-left h4 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px dashed #eaeaea;
  margin-bottom: 15px ;
}
.items .items-left li {
  float: left;
  width: 85px;
  margin-right: 10px ;
  height: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  background: #f8f8f8;
  text-align: center;
  font-size: 12px;
}
.items .items-left li:hover {
  background-color: #434d55;
  color: #fff;
}
.hotrecommend-center {
  width: 1200px;
  margin: 40px auto 30px;
}
.hotrecommend-center .hd {
  height: 42px;
  line-height: 42px;
  margin-bottom: 12px ;
  border-bottom: 2px solid #434d55;
  padding-bottom: 5px;
}
.hotrecommend-center .hd h2 {
  float: left;
  font-size: 21px;
}
.hotrecommend-center .hd .extra {
  float: right;
}
.hotrecommend-center .hd .extra li {
  float: left;
  font-size: 14px;
  padding: 8px  15px;
  border-right: 1px solid #ededed;
  line-height: 1.2;
}
.hotrecommend-center .hd .extra .on {
  color: #006bbc;
  font-weight: 700;
}
.hotrecommend-center .bd {
  position: relative;
  width: 1200px;
  height: 300px;
}
.hotrecommend-center .bd .ulitem {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.hotrecommend-center .bd .ulitem li {
  width: 156px;
  float: left;
  padding: 20px 20px 0;
  border: 1px solid #ededed;
}
.hotrecommend-center .bd .ulitem li .p-img img {
  width: 150px;
  height: 150px;
}
.hotrecommend-center .bd .ulitem li .p-price {
  text-align: center;
  color: red;
}
.hotrecommend-center .bd .ulitem li .p-name {
  font-size: 12px;
  margin: 10px 0px 10px;
}
.hotrecommend-center .bd .ulitem li .p-name:hover {
  color: red;
}
.hotrecommend-center .bd .ulitem li .p-btn {
  text-align: center;
  background-color: red;
  color: #fff;
  margin: 0 -20px;
  font-size: 12px;
  padding: 5px 0 5px;
  visibility: hidden;
}
.hotrecommend-center .bd .ulitem li:hover .p-btn {
  visibility: visible;
}
.hotrecommend-center .bd .ulitem1 {
  display: block;
}
.catbrand {
  width: 1200px;
  margin: 30px auto 30px;
}
.catbrand .hd {
  height: 42px;
  line-height: 42px;
  margin-bottom: 12px;
}
.catbrand .hd h2 {
  float: left;
  font-size: 21px;
}
.catbrand .bd {
  display: flex;
}
.catbrand .bd .left {
  flex-grow: 1;
}
.catbrand .bd .center {
  flex-grow: 1;
}
.catbrand .bd .right {
  width: 450px;
  flex-grow: 1 ;
}
.catbrand .bd .right li {
  float: left;
  border: 1px solid #ededed;
  width: 145px;
  margin: 0 -1px -1px 0;
}
.catbrand .bd .right li img {
  width: 100%;
  height: 100%;
}
.main {
  width: 1200px;
  margin: 30px auto 30px;
}
.main .hd {
  height: 42px;
  line-height: 42px;
  margin-bottom: 12px ;
  border-bottom: 1px solid #2e84e9;
}
.main .hd h2 {
  font-size: 21px;
  float: left;
}
.main .hd .extra1,
.main .hd .extra2,
.main .hd .extra3,
.main .hd .extra4,
.main .hd .extra5 {
  float: right;
  height: 50px;
}
.main .hd .extra1 li,
.main .hd .extra2 li,
.main .hd .extra3 li,
.main .hd .extra4 li,
.main .hd .extra5 li {
  float: left;
  padding: 0 20px;
  height: 38px;
  border: 1px solid #f8f8f8;
  line-height: 38px;
  background: #fff;
  margin-left: 8px ;
  font-size: 12px;
}
.main .hd .extra1 .on1,
.main .hd .extra2 .on1,
.main .hd .extra3 .on1,
.main .hd .extra4 .on1,
.main .hd .extra5 .on1,
.main .hd .extra1 .on2,
.main .hd .extra2 .on2,
.main .hd .extra3 .on2,
.main .hd .extra4 .on2,
.main .hd .extra5 .on2,
.main .hd .extra1 .one3,
.main .hd .extra2 .one3,
.main .hd .extra3 .one3,
.main .hd .extra4 .one3,
.main .hd .extra5 .one3,
.main .hd .extra1 .one4,
.main .hd .extra2 .one4,
.main .hd .extra3 .one4,
.main .hd .extra4 .one4,
.main .hd .extra5 .one4,
.main .hd .extra1 .one5,
.main .hd .extra2 .one5,
.main .hd .extra3 .one5,
.main .hd .extra4 .one5,
.main .hd .extra5 .one5 {
  color: #2e84e9;
  height: 41px;
  border: 1px solid #2e84e9;
  border-bottom-color: #fff;
}
.main .bd {
  width: 1200px;
  height: 460px;
  position: relative;
}
.main .bd .left {
  float: left;
  width: 280px;
  height: 460px;
  position: relative;
}
.main .bd .left .l-menu {
  width: 200px;
  position: absolute;
  top: 320px;
  left: 45px;
}
.main .bd .left .l-menu li {
  float: left;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 10px 10px 0;
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  transition: all 0.2s;
}
.main .bd .left .l-menu li:hover {
  opacity: 1;
}
.main .bd .right,
.main .bd .right-1,
.main .bd .right-3,
.main .bd .right-5,
.main .bd .right-7 {
  position: absolute;
  top: 0px;
  left: 280px;
  width: 920px;
  float: left;
  display: none;
}
.main .bd .right .first,
.main .bd .right-1 .first,
.main .bd .right-3 .first,
.main .bd .right-5 .first,
.main .bd .right-7 .first {
  border: 1px solid #ccc;
  width: 280px;
  padding: 15px;
  float: left;
}
.main .bd .right .first .p-img,
.main .bd .right-1 .first .p-img,
.main .bd .right-3 .first .p-img,
.main .bd .right-5 .first .p-img,
.main .bd .right-7 .first .p-img {
  width: 280px;
  height: 280px;
}
.main .bd .right .first .p-info,
.main .bd .right-1 .first .p-info,
.main .bd .right-3 .first .p-info,
.main .bd .right-5 .first .p-info,
.main .bd .right-7 .first .p-info {
  background: #f5f9ff;
  padding: 14px;
  margin-top: 20px ;
}
.main .bd .right .first .p-info .info-name,
.main .bd .right-1 .first .p-info .info-name,
.main .bd .right-3 .first .p-info .info-name,
.main .bd .right-5 .first .p-info .info-name,
.main .bd .right-7 .first .p-info .info-name {
  font-size: 12px;
  text-align: left;
  height: 50px;
  margin-bottom: 10px;
}
.main .bd .right .first .p-info .info-handle,
.main .bd .right-1 .first .p-info .info-handle,
.main .bd .right-3 .first .p-info .info-handle,
.main .bd .right-5 .first .p-info .info-handle,
.main .bd .right-7 .first .p-info .info-handle {
  margin: 10px 0px 10px;
}
.main .bd .right .first .p-info .info-handle .span1,
.main .bd .right-1 .first .p-info .info-handle .span1,
.main .bd .right-3 .first .p-info .info-handle .span1,
.main .bd .right-5 .first .p-info .info-handle .span1,
.main .bd .right-7 .first .p-info .info-handle .span1 {
  float: left;
  color: red;
  font-size: 21px;
  width: 140px;
  text-align: left;
  overflow: hidden;
  height: 36px;
}
.main .bd .right .first .p-info .info-handle .span2,
.main .bd .right-1 .first .p-info .info-handle .span2,
.main .bd .right-3 .first .p-info .info-handle .span2,
.main .bd .right-5 .first .p-info .info-handle .span2,
.main .bd .right-7 .first .p-info .info-handle .span2 {
  background-color: red;
  color: #fff;
  text-align: center;
  height: 36px;
  line-height: 30px;
  width: 110px;
  font-size: 14px;
  padding: 10px 20px 10px;
}
.main .bd .right .ulleft,
.main .bd .right-1 .ulleft,
.main .bd .right-3 .ulleft,
.main .bd .right-5 .ulleft,
.main .bd .right-7 .ulleft {
  width: 600px;
  float: right;
}
.main .bd .right .ulleft li,
.main .bd .right-1 .ulleft li,
.main .bd .right-3 .ulleft li,
.main .bd .right-5 .ulleft li,
.main .bd .right-7 .ulleft li {
  width: 160px;
  height: 200px;
  float: left;
  padding: 14px;
  border: 1px solid #ccc;
  margin: 0 -1px -1px 0;
}
.main .bd .right .ulleft li img,
.main .bd .right-1 .ulleft li img,
.main .bd .right-3 .ulleft li img,
.main .bd .right-5 .ulleft li img,
.main .bd .right-7 .ulleft li img {
  width: 140px;
  height: 140px;
}
.main .bd .right .ulleft li .p1,
.main .bd .right-1 .ulleft li .p1,
.main .bd .right-3 .ulleft li .p1,
.main .bd .right-5 .ulleft li .p1,
.main .bd .right-7 .ulleft li .p1 {
  font-size: 12px;
  text-align: center;
  padding: 5px 0px ;
}
.main .bd .right .ulleft li .p1:hover,
.main .bd .right-1 .ulleft li .p1:hover,
.main .bd .right-3 .ulleft li .p1:hover,
.main .bd .right-5 .ulleft li .p1:hover,
.main .bd .right-7 .ulleft li .p1:hover {
  color: red;
}
.main .bd .right .ulleft li .p2,
.main .bd .right-1 .ulleft li .p2,
.main .bd .right-3 .ulleft li .p2,
.main .bd .right-5 .ulleft li .p2,
.main .bd .right-7 .ulleft li .p2 {
  font-size: 12px;
  text-align: center;
  padding: 5px 0px ;
  color: red;
}
.main .bd .right1,
.main .bd .right-2,
.main .bd .right-4,
.main .bd .right-6,
.main .bd .right-8 {
  display: block;
}
.main .brands {
  width: 1200px;
}
.main .brands li {
  float: left;
  width: 120px;
  height: 50px ;
  padding: 10px 0px 10px;
}
.main .brands li img {
  width: 80%;
  height: 100%;
}
.atwillgo {
  width: 1200px;
  margin: auto;
}
.atwillgo .awg-hd {
  height: 42px;
  line-height: 42px;
  margin-bottom: 12px;
}
.atwillgo .awg-hd h2 {
  float: left;
  font-size: 21px;
}
.atwillgo .awg-bd {
  position: relative;
}
.atwillgo .awg-bd .prev,
.atwillgo .awg-bd .next {
  width: 30px;
  height: 70px;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  display: none;
}
.atwillgo .awg-bd .prev {
  position: absolute;
  top: 40%;
  left: 0;
}
.atwillgo .awg-bd .next {
  position: absolute;
  top: 40%;
  right: 0;
}
.atwillgo .awg-bd .hd {
  position: relative;
  height: 0;
}
.atwillgo .awg-bd .hd ul {
  position: absolute;
  right: 0;
  top: -30px;
}
.atwillgo .awg-bd .hd ul li {
  float: left;
  height: 8px;
  width: 8px;
  border-radius: 4px ;
  background-color: #9f9f9f;
  margin-right: 5px ;
  transition: all 0.2s;
  cursor: pointer;
}
.atwillgo .awg-bd .hd ul .color-red {
  width: 20px;
  background: #f43434;
}
.atwillgo .awg-bd .bd {
  height: auto;
  overflow: hidden;
}
.atwillgo .awg-bd .bd .tempwrap {
  overflow: hidden;
  position: relative;
  width: 1200px;
  top: 0;
  left: 0;
}
.atwillgo .awg-bd .bd .tempwrap ul {
  width: 3600px;
  left: 0px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.atwillgo .awg-bd .bd .tempwrap ul li {
  float: left;
  width: 150px;
  border: 1px dashed #d1d1d1;
  padding: 25px 20px 20px 27px;
}
.atwillgo .awg-bd .bd .tempwrap ul li .p-img img {
  width: 158px;
  height: 158px;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}
.atwillgo .awg-bd .bd .tempwrap ul li .p-price {
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
  color: #f42424;
}
.atwillgo .awg-bd .bd .tempwrap ul li .p-name {
  margin-bottom: 10px;
  font-size: 12px;
  height: 65px;
  overflow: hidden;
  text-align: center;
}
.atwillgo .awg-bd .bd .tempwrap ul li .p-name:hover {
  color: #f42424;
}
.atwillgo .awg-bd .bd .tempwrap ul li .p-btn {
  display: block;
  height: 28px;
  border: 1px solid #f43434;
  color: #f43434;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  transition: all 0.2s;
}
.atwillgo .awg-bd .bd .tempwrap ul li .p-btn:hover {
  background-color: #f43434;
  color: #fff;
}
.nav {
  width: 100%;
}
.nav .nav-top {
  background-color: #eee;
}
.nav .nav-top .center {
  width: 1200px;
  margin: auto;
  height: 30px;
  line-height: 30px;
  color: #8c8c8c;
  font-size: 12px;
}
.nav .nav-top .center span:hover {
  color: red;
}
.nav .nav-top .center .left {
  float: left;
}
.nav .nav-top .center .left .color {
  color: red;
  padding: 0px 10px 0px 15px;
}
.nav .nav-top .center .right {
  float: right;
}
.nav .nav-top .center .right .spacer {
  display: inline-block;
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
.nav .nav-top .center .right .dt {
  display: inline-block;
  height: 30px;
  position: relative;
}
.nav .nav-top .center .right .dt .layer {
  position: absolute;
  top: 28px;
  left: -266px;
  background-color: #fff;
  width: 290px;
  height: 110px;
  z-index: 20;
  padding: 20px;
  display: none;
}
.nav .nav-top .center .right .dt .layer .ul1-1 {
  color: #8c8c8c;
  float: left;
  width: 65px;
  border-right: 1px solid #ccc;
}
.nav .nav-top .center .right .dt .layer .ul1-1 h4 {
  font-weight: 600;
}
.nav .nav-top .center .right .dt .layer .ul1-1 li:hover {
  color: red;
}
.nav .nav-top .center .right .dt .layer .ul2-2 {
  color: #8c8c8c;
  float: right;
  width: 210px ;
}
.nav .nav-top .center .right .dt .layer .ul2-2 h4 {
  font-weight: 600;
}
.nav .nav-top .center .right .dt .layer .ul2-2 li {
  float: left;
  padding-right: 10px ;
}
.nav .nav-top .center .right .dt .layer .ul2-2 li:hover {
  color: red;
}
.nav .nav-top .center .right .dt:hover .layer {
  display: block;
}
.nav .nav-center {
  margin-bottom: 10px;
  background-color: #fff;
  height: 100px;
}
.nav .nav-center .center {
  margin: auto;
  width: 1200px;
}
.nav .nav-center .center .logo {
  float: left;
  margin-top: 30px ;
}
.nav .nav-center .center .dsc-search {
  float: left;
  margin: 30px 0 0 78px;
  width: 546px;
  position: relative;
}
.nav .nav-center .center .dsc-search .form #search-text {
  width: 378px;
  height: 14px;
  padding: 8px;
  border-color: #2984eb;
  outline: 0;
  font-size: 12px;
  float: left;
}
.nav .nav-center .center .dsc-search .form .btn-goods {
  background-color: #2984eb;
  margin-right: 8px;
  border: 0;
  width: 70px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  float: left;
  outline: none;
}
.nav .nav-center .center .dsc-search .form .btn-store {
  background-color: #433d55;
  border: 0;
  width: 70px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  font-size: 14px;
  float: left;
}
.nav .nav-center .center .dsc-search .keyword {
  float: left;
  width: 100%;
  height: 30px;
  overflow: hidden;
}
.nav .nav-center .center .dsc-search .keyword li {
  float: left;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  color: #999;
  font-size: 12px;
}
.nav .nav-center .center .shopcat {
  float: right;
  margin-top: 30px;
}
.nav .nav-center .center .shopcat .shopcat-con {
  width: 178px;
  height: 33px;
  line-height: 33px;
  border-color: #d2d2d2;
  border: 1px solid #ccc;
}
.nav .nav-center .center .shopcat .shopcat-con .con {
  color: #e23435;
}
.nav .nav-center .center .shopcat .shopcat-con .con .icon-carts {
  position: relative;
  padding-left: 30px;
  font-size: 20px;
  float: left;
}
.nav .nav-center .center .shopcat .shopcat-con .con .icon-carts span {
  color: #e23435;
  font-size: 12px;
}
.nav .nav-center .center .shopcat .shopcat-con .con .icon-carts .count {
  min-width: 13px;
  height: 13px;
  line-height: 13px;
  padding: 1px;
  border-radius: 50%;
  background: #f42424;
  color: #fff;
  position: absolute;
  top: 6px;
  left: 122px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  margin-top: 5px ;
}
.nav .nav-bottom {
  width: 100%;
  height: 40px;
}
.nav .nav-bottom .center {
  width: 1200px;
  margin: auto;
}
.nav .nav-bottom .center .category {
  width: 200px;
  height: 40px;
  background-color: #027bd6;
  text-align: center;
  line-height: 40px;
  float: left;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.nav .nav-bottom .center .nav-main {
  float: left;
  width: 968px;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}
.nav .nav-bottom .center .nav-main li {
  float: left;
  margin-left: 38px;
}
.nav .nav-bottom .center .nav-main li a {
  font-size: 16px;
  color: #555;
  text-decoration: none;
}
.nav .nav-bottom .center .nav-main li a:hover {
  color: #e23435;
}
.navigation .aside {
  position: fixed;
  width: 45px;
  height: auto;
  top: 200px;
  left: 250px;
  display: none;
}
.navigation .aside li {
  background-color: #e9e9e9;
  color: #555;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.navigation .aside li:hover {
  background-color: #2984eb;
  color: #fff;
}
.navigation .aside .active {
  background-color: #2984eb;
  color: #fff;
}
.nav_box {
  width: 100%;
  height: 330px;
  background-color: #262626;
}
.nav_catalogue {
  width: 1200px;
  height: 130px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav_tbl {
  width: 900px;
  display: inline-block;
}
.nav_th th,
.nav_td tr td {
  width: 180px;
  height: 24px;
}
.nav_th th {
  text-align: left;
  padding-bottom: 30px;
  color: #fff;
}
.nav_td tr td {
  color: #ccc;
}
.nav_qrcode {
  width: 104px;
  height: 130px;
  border: 1px solid #fff;
  display: inline-block;
  margin: auto 19px;
  position: relative;
  left: -5px;
  top: -10px;
}
.nav_qrcode > img {
  width: 104px;
  height: 104px;
}
.nav_qrcode > p {
  width: 100px;
  height: 24px;
  color: #fff;
  line-height: 14px;
  padding: 2px;
  text-align: center;
}
.nav_x {
  width: 1200px;
  border: 1px solid #000;
  margin: 0 auto;
}
.nav_synopsis {
  width: 1200px;
  height: 140px;
  height: 18px;
  margin: 20px auto;
  text-align: center;
}
.nav_synopsis p a {
  width: 92px;
  height: 12px;
  color: #888;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2px;
  text-decoration: none;
}
.nav_synopsis p .nav_multiuser {
  width: 116px;
}
.nav_synopsis p span {
  color: #888;
}
.nav_synopsis p a:hover {
  color: red;
}
/* 侧边栏 */
.nav_entirety {
  width: 650px;
  height: 100%;
  position: fixed;
  right: -296px;
  top: 0;
}
.nav_nav {
  width: 330px;
  height: 100%;
  display: inline-block;
}
.nav_users {
  width: 290px;
  height: 190px;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  display: inline-block;
  display: none;
  position: absolute;
  left: 0px;
  top: 110px;
  background-color: #fff;
}
.nav_ur {
  width: 290px;
  height: 120px;
}
.nav_ure {
  border: 1px solid #ccc;
}
.nav_ur img {
  border-radius: 50%;
}
.nav_urp {
  display: inline-block;
  width: 160px;
}
.nav_nva {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 6px solid red;
  border-color: transparent transparent transparent #fff;
  margin: 27px -6px 131px;
  position: absolute;
  left: 318px;
  top: 96px;
  display: none;
}
.nav_btnds {
  width: 206px;
  height: 44px;
  padding: 18px 42px;
}
.nav_btnds button {
  width: 94px;
  height: 32px;
  border: 1px solid #ccc;
}
.nav_order {
  margin-right: 10px;
}
/* ul li */
.nav_nav .nav_flexible {
  height: 40px;
}
.nav_nav .nav_flexible li {
  width: 110px;
  height: 38px;
  margin: 10px 0px;
  position: relative;
  top: -316px;
  left: 180px;
  opacity: 0;
}
.nav_x {
  width: 92px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 12px;
  background-color: #000;
  color: #fff;
  display: inline-block;
}
.nav_xx {
  width: 0px;
  height: 0px;
  border: 6px solid red;
  border-color: transparent transparent transparent #000;
  display: inline-block;
  margin: 0px 0px -2px -5px;
}
.nav_shopactive {
  background-color: red;
  color: #fff;
}
.nav_digactive {
  background-color: red;
  color: #fff;
}
/* 中间 */
.nav_sidebar {
  width: 40px;
  display: inline-block;
  background-color: #000;
  margin: 0px -23px;
  padding: 110px 0px 10px;
  box-sizing: border-box;
}
.nav_l {
  font-size: 24px;
  text-align: center;
  color: #fff;
}
/* 用户头像 */
.nav_user {
  width: 40px;
  height: 40px;
}
/* 购物车 */
.nav_shopping {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 20px;
}
/* 数值 */
.nav_digit {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 16px;
  background-color: red;
  margin: 10px 10px;
}
.nav_dt {
  font-size: 16px;
  padding: 0 5px;
}
/* 中间字体图标 */
.nav_li li,
.nav_ul2 li {
  width: 40px;
  height: 40px;
  margin: 10px 0px;
}
.nav_li li .nav_fz {
  font-size: 22px;
}
.nav_ul2 {
  margin-top: 228px;
}
.nav_ul2 li {
  margin: 0px;
}
.nav_ul2 .nav_ulli1:hover,
.nav_ul2 .nav_ulli2:hover {
  background-color: red;
}
.nav_ul2 .nav_ulli1 .nava_service {
  height: 32px;
  position: relative;
  right: 60px;
  top: -27px;
  display: none;
}
.nav_service0 {
  width: 92px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  background-color: #000;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0px;
}
.nav_service1 {
  width: 0px;
  height: 0px;
  border: 6px solid red;
  border-color: transparent transparent transparent #000;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 10px;
}
/* 下边 */
.nav_r {
  width: 282px;
  height: 935px;
  position: relative;
  left: 352px;
  top: -1574px;
}
.nav_purchase {
  height: 28px;
  line-height: 28px;
  margin: 10px 0;
}
.nav_purchase p {
  width: 238px;
  display: inline-block;
  padding-left: 10px;
  font-size: 16px;
}
.nav_purchase .nav_del {
  width: 20px;
  height: 20px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #EFEFEF;
}
.nav_r .nav_bod {
  height: 88%;
  background-color: #eceaea;
}
.nav_r .nav_bod img {
  padding: 280px 72px 0px;
}
.nav_r .nav_bod p {
  font-size: 14px;
  text-align: center;
}
.nav_r .nav_bod p a {
  color: red;
}
.nav_r .nav_fot {
  width: 284px;
  height: 66px;
}
.nav_r .nav_fot .nav_fo1,
.nav_r .nav_fot .nav_fo2 {
  font-size: 14px;
  display: inline-block;
}
.nav_r .nav_fot .nav_fo1 span {
  color: red;
}
.nav_r .nav_fot .nav_fo2 {
  font-size: 20px;
  margin-left: 145px;
  color: red;
}
.nav_r .nav_fot .nav_fo3 {
  width: 240px;
  height: 34px;
  margin: 0px 20px;
  background-color: red;
  line-height: 34px;
  text-align: center;
}
