*{
    margin: 0;
    padding: 0;
}
.nav_top{
    width: 100%;
    height: 30px;    
    background-color: #eee;
}
#nav_noe ,.nav-text,.nav_bcon{
    width: 1200px;
    margin: 0px auto;
}
.nav-topl{
    width: 500px;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
}
.nav-topl div{
    display: inline-block;
    padding: 0px 10px;
}

/* 郑州市 */
.nav-chengchow{
    position: relative;
    border: 1px solid red;
}
.nav-chengchow span,.nav_please a{
    color:red;
}
.nav-chengchow a, .nav_enroll a{
    color: #8c8c8c;
}






/* 全部地名 */
.nav_city{
    width: 443px;
    height: 236px;
    position: absolute;
    left: -1px;
    top: 31px;
    border: 1px solid red;
}
.nav_city .nav-line a{
    width: 20px;
    height: 30px;
    padding: 0 10px;
}
.nav_city .nav-letter{
    padding-left: 20px;
}
.nav_city .nav-letter a{
    margin-right: 4px;
    font-weight:600;
    color:#8c8c8c;
}
/* 我的订单 */
.nav-topr {
    width: 420px;
    display: inline-block;
    margin-left: 270px;
    font-size: 12px;
    line-height: 30px;
}
.nav-topr div{
    display: inline-block;
    padding: 0px 4px;
    color: #8c8c8c;
}
.nav-topr div a{
    color: #8c8c8c;
}



/* logo */
.nav_content{
    width: 100%;
    height: 100px;    
}
/* ing */
.nav_concon{
    width: 159px;
    height: 57px;
    display: inline-block;
}
.nav_concon{
    margin-bottom: 10px;
    vertical-align:middle;
}
.nav_concon img{
    padding: 22px 0px 21px;
}
.nav_enroll:hover
,.nav_ulbox2:hover{
    cursor:pointer;
}
.nav_enroll:hover a{
    color: red;
}



/* 文本框，按钮 */
.nav_content .nav_bcon{
    width: 945px;
    margin: 30px 0 0 78px;
    height: 34px;
    display: inline-block;
}
.nav_content .nav_bcon div{
    display: inline-block;
}
/* 文本框 */
.nav_content .nav_bcon input{
    width: 398px;
    height: 34px;
    border: 1px solid red;
    padding-left: 10px;
}
/* 搜商品,搜店铺 */
.nav_content .nav_bcon button{
    width: 70px;
    height: 34px;
    color: #fff;
}
/* 搜商品 */
#nav_btn1{
    background-color: red;
    border: 1px solid red;
}
/* 搜店铺 */
#nav_btn2{
    background-color: #B31919;
    border: 1px solid #B31919;
}